.jsmind-Stage {
    position: relative;
    background-color: white;
    overflow: auto;
}

.jsmind-Stage  .paper {

}

.jsmind-Stage .map {
    display: block;
    position: absolute;
    white-space: pre;
    top: 0px;
}

.canvas textarea {
    outline: 0
}

.canvas {
    position: absolute;
}

#tk_rootcontainer {
    margin: 0 50px
}

#tk_rootchildren_left {
    direction: rtl;
    text-align: right
}

#tk_rootchildren_right {
    direction: ltr;
    text-align: left
}

#tk_rootchildren_left,#tk_rootchildren_right,#tk_rootcontainer {
    display: inline-block;
    vertical-align: middle
}

#tk_rootchildren_left>.tk_container,#tk_rootchildren_right>.tk_container {
    margin-bottom: 20px
}

.tk_label {
    position: relative;
    padding: .2em 1em;
    font-size: 100%;
    z-index: 30;
    cursor: move;
    line-height: 125%;
    direction: ltr;
    text-align: center
}

.tk_open_container {
    position: relative;
    vertical-align: baseline
}

.ie_vertical_align .tk_open_container,.ie_vertical_align #tk_rootchildren_left,.ie_vertical_align #tk_rootchildren_right,.ie_vertical_align #tk_rootcontainer {
    vertical-align: middle
}

.tk_container {
    white-space: pre
}

.tk_container,.tk_label {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.viewonly .tk_label {
    -moz-user-select: -moz-text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -o-user-select: text;
    -ms-user-select: text;
    user-select: text
}

.tk_label,.tk_container,.tk_children,.tk_open,.tk_open_container {
    display: inline-block
}

.tk_open {
    vertical-align: bottom;
    position: relative;
    margin: 0;
    z-index: 60;
    left: 0.1em;
    overflow: hidden;
    cursor: pointer;
    width: 16px;
    height: 16px;
    bottom: -0.50em
}

#tk_rootchildren_left .tk_open,.left_pane .tk_open {
    left: -0.1em
}

.tk_children>.tk_container {
    display: block
}

.b-ie8 .tk_children {
    margin-left: .1px
}

.tk_container>.tk_label,.tk_container>.tk_open,.tk_container>.tk_children {
    vertical-align: middle
}

.tk_container {
    z-index: 10
}

.tk_container.left_pane,.tk_children.left_pane {
    z-index: 10;
    direction: rtl;
    text-align: right
}

.tk_label.root_child {
    padding: .2em 1em;
    padding-bottom: 0.1em;
}

.tk_label.root {
    padding: .6em 1em;
    position: absolute;
    z-index: 20
}

.default .tk_label.root {
    border: 2px solid #3096e5;
    margin: 1px;
    color: #fff;
    background-size: 100%;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#3fc8ff),color-stop(100%,#35a7ff));
    background-image: -webkit-linear-gradient(#3fc8ff,#35a7ff);
    background-image: -moz-linear-gradient(#3fc8ff,#35a7ff);
    background-image: -o-linear-gradient(#3fc8ff,#35a7ff);
    background-image: linear-gradient(#3fc8ff,#35a7ff);
    -webkit-border-radius: 1.8em;
    -moz-border-radius: 1.8em;
    -ms-border-radius: 1.8em;
    -o-border-radius: 1.8em;
    border-radius: 1.8em;
    -webkit-box-shadow: rgba(0,0,0,0.2) 1px 3px 4px 0;
    -moz-box-shadow: rgba(0,0,0,0.2) 1px 3px 4px 0;
    box-shadow: rgba(0,0,0,0.2) 1px 3px 4px 0;
    font-weight: bold;
    font-style: normal;
    font-size: 120%;
}

.classic .tk_label.root {
    border: 3px solid #1d93ff;
    margin: 0;
    color: #000;
    background-color: #50baff;
    -webkit-border-radius: .7em;
    -moz-border-radius: .7em;
    -ms-border-radius: .7em;
    -o-border-radius: .7em;
    border-radius: .7em;
    font-weight: bold;
    font-style: normal;
    font-size: 120%;
}

.default .tk_label.node {
    border: 0 solid white;
    color: #4c5053;
    margin: 3px;
    -webkit-border-radius: 1.8em;
    -moz-border-radius: 1.8em;
    -ms-border-radius: 1.8em;
    -o-border-radius: 1.8em;
    border-radius: 1.8em;
    font-style: normal;
    font-size: 100%;
}

.tk_label.selected {
    z-index: 65
}

.jsmind-Stage .map .tk_label.root {
    position: relative
}

.default .tk_label.root_child {
    border: 0 solid white;
    color: #000;
    margin: 3px;
    -webkit-border-radius: .7em;
    -moz-border-radius: .7em;
    -ms-border-radius: .7em;
    -o-border-radius: .7em;
    border-radius: .7em;
    font-weight: bold;
    font-style: normal;
    font-size: 120%;
}

.classic .tk_label.root_child {
    border: 2px solid #bdbfc1;
    margin: 1px;
    color: #4c5053;
    background-size: 100%;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(100%,#f4faff));
    background-image: -webkit-linear-gradient(#fff,#f4faff);
    background-image: -moz-linear-gradient(#fff,#f4faff);
    background-image: -o-linear-gradient(#fff,#f4faff);
    background-image: linear-gradient(#fff,#f4faff);
    -webkit-border-radius: 1.8em;
    -moz-border-radius: 1.8em;
    -ms-border-radius: 1.8em;
    -o-border-radius: 1.8em;
    border-radius: 1.8em;
    -webkit-box-shadow: rgba(0,0,0,0.2) 1px 3px 4px 0;
    -moz-box-shadow: rgba(0,0,0,0.2) 1px 3px 4px 0;
    box-shadow: rgba(0,0,0,0.2) 1px 3px 4px 0;
    font-weight: bold;
    font-style: normal;
    font-size: 100%;
}

.default .tk_label.root.selected, .default .tk_label.root.drop_label {
    border: 2px solid #2c81c2!important;
    margin: 1px!important;
}

.default .tk_label.root_child.selected.current, .default .tk_label.root_child.drop_label {
    -moz-border-radius-bottomright: .3em;
    -webkit-border-bottom-right-radius: .3em;
    border-bottom-right-radius: .3em;
}

.default .tk_label.root_child.selected, .default .tk_label.root_child.drop_label {
    border: 2px solid #339ced!important;
    margin: 1px!important;
}

.default .tk_label.node.selected.current, .default .tk_label.node.drop_label {
    -moz-border-radius-bottomright: .3em;
    -webkit-border-bottom-right-radius: .3em;
    border-bottom-right-radius: .3em;
}

.default .tk_label.node.selected, .default .tk_label.node.drop_label {
    border: 2px solid #339ced!important;
    margin: 1px!important;
}

.default .tk_label.root_child .rhandle {
    background-color: #339ced;
}

.default .tk_label.node .rhandle {
    background-color: #339ced;
}

.default .tk_label.root .rhandle {
    background-color: #2c81c2;
}

.tk_label.selected.current .rhandle {
    display: inline;
}

.tk_label .rhandle {
    display: none;
    position: absolute;
    right: -0.3em;
    bottom: -0.3em;
    width: 6px;
    height: 6px;
    overflow: hidden;
    cursor: e-resize;
    z-index: 50;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.tk_label.root .rhandle {
    width: 12px;
    height: 12px;
    right: 0.1em;
    bottom: -0.2em;
}

/***** 可编辑状态 ******/
.tk_label textarea {
    border: 0px;
    background-color:transparent;
    resize:none;
    overflow: hidden; 
    white-space: pre-wrap; 
    height: 19px;
    width:60px;
    font-size: 100%;
    color: #000;
    padding: 0px;
    word-wrap: normal;
    word-wrap:break-word;
    overflow:hidden;
    word-break:break-all;
}

.tk_label.node textarea {
    height: 16px;
}

.tk_label.root textarea {
    color: white;
}

.tk_label.edit .rhandle {
    visibility: hidden;
}

.resizer {
    position: absolute;
    top: -1500px;
    left: -1500px;
}

.editPanel {
    position: absolute;
    z-index: 100;
}

.editPanel textarea {
    position: absolute;
}

.edit.tk_label {
    visibility: hidden;
}

