<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>tree</title>
  <link rel="stylesheet" type="text/css" href="./tree.css">
</head>
<body>
<div id="stage">
    <div class="canvas">
        <div class="map">
            <div class="tk_container j_container">
                <div class="tk_open_container j_editPlace">
                    <div class="tk_label" style="cursor: default;">
                        <span class="rhandle">&nbsp;</span>
                        <div class="tk_title">哈哈</div>
                    </div>
                    <img class="tk_open j_open" src="../../images/opener_plus.png" style="" draggable="false">
                </div>
                <!-- begin tk_children -->
                <div class="tk_children" style="">
                    <div class="tk_container j_container">
                        <div class="tk_open_container j_editPlace">
                            <div class="tk_label" style="cursor: default;">
                                <span class="rhandle">&nbsp;</span>
                                <div class="tk_title">哈哈</div>
                            </div>
                            <img class="tk_open j_open" src="../../images/opener_plus.png" style="" draggable="false">
                         </div>
                         <div class="tk_children" style="">
                            <div class="tk_container j_container">
                                <div class="tk_open_container j_editPlace">
                                    <div class="tk_label" style="cursor: default;">
                                        <span class="rhandle">&nbsp;</span>
                                        <div class="tk_title">哈哈</div>
                                    </div>
                                 </div>
                            </div>
                            <div class="tk_container j_container">
                                <div class="tk_open_container j_editPlace">
                                    <div class="tk_label" style="cursor: default;">
                                        <span class="rhandle">&nbsp;</span>
                                        <div class="tk_title">哈哈</div>
                                    </div>
                                 </div>
                            </div>
                         </div>
                    </div>
                    <div class="tk_container j_container">
                        <div class="tk_open_container j_editPlace">
                            <div class="tk_label" style="cursor: default;">
                                <span class="rhandle">&nbsp;</span>
                                <div class="tk_title">哈哈</div>
                            </div>
                        </div>
                        <div class="tk_children" style=""></div>
                    </div>
                </div>
                <!-- end tk_children -->
            </div>
        </div>   
    </div>
</div>

</body>
</html>